* 
{
    margin: 0;
    padding: 0;
}

header
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url('../img/welcome.jpg');
    height: 100vh;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 70px; 
}

#navbar 
{
    list-style: none; 
}

#navbar ul
{
    text-align: right;
    margin-top: -115px; 
    margin-right: 50px;  
}

#navbar li
{
    display: inline; 
    margin-right: 10px;
}

#navbar li a
{
  color: white;
  text-decoration: none;
  padding: 5px 15px;
  font-family: 'Lora', serif;
  font-size: 30px;
  font-weight: bold;
}

#navbar li a:hover
{
    color:gold;
    text-decoration-line: underline;
    -moz-text-decoration-line:;
}

#navbar li.active a
{
    color: gold;
    text-decoration-line: overline; 
    -moz-text-decoration-line: overline;
}

.logo img
{
    padding: 25px;
    width: 120px;
    height: auto;
}

/* Home - Welcome Section */
#welcome-section h1
{
    text-align: center;
    font-family: 'Ruthie', cursive;
    font-size: 10vw;
    font-weight: lighter;
    color: white;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#welcome-section h2
{
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 2vw;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 60%;
    left: 41%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#welcome-section h3
{
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 1.75vw;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 65%;
    left: 52.75%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#welcome-section button /* button links to contact section */
{
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 2vw;
    font-weight: bold;
    color: white;
    background-color: transparent;
    top: -180px; 
    left: 26%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border: 1.5px solid white;
    border-radius: 40px;
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    margin-left: 175px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

#welcome-section button:hover 
{
  background-color: gold;
  color: black;
  border: 1.5px solid black;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}

/* About Me Section */
#about-me .container
{
  color: black;
  height: 100vh;
  margin-top: 60px;
  overflow:  hidden;
}

#about-me .about-left img
{
 margin-top: 180px;
 margin-left: 120px;
 margin-bottom: 100px;
 margin-right: 90px;
 float: left;
 width: 30vw;
 height: 25vw;
 border: 10px solid gold;
 border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 -o-border-radius: 50%;
}

#about-me h1
{
  margin-top: 50px;
  color: black;
  font-family: 'Lora', serif; 
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
}

#about-me .column2
{
    margin: 10px 10px; 
    padding: 20px 80px; 
}

#about-me .about-right p
{
  font-size: 22px;
  justify-content: right;
  text-align: center;  
  margin-left: 100px;
  padding: 30px;  
}


#about-me .button /* button links to downloadable CV */
{
    margin-top: 15px;
    margin-left: 825px; 
    width: 200px;
    border: 1.5px solid gold;
    border-radius: 40px;
    padding: 10px 30px;
    color: white;
    background-color: gold;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

#about-me .button a
{
    text-decoration: none; 
    color: inherit; 
}

#about-me .button:hover
{
    border: 1.5px solid black;
    color: black;
    background-color: white; 
    border-color: black;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

/* Projects Section */
#projects 
{
    margin-top: 50px; 
    height: 100vh; 
    background-color: #efc2f3;
}

.project-tile
{
    display: -ms-flexbox; 
    -ms-flexbox-wrap: wrap; 
    -ms-flexbox-direction: column;
    -webkit-flex-flow: row wrap; 
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;  
    padding:   5px  40px 20px 40px;    
}

.project-title h1
{ 
    font-family: 'Lora', serif; 
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
}
.project
{
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 200px;
    margin:1vw;
}

.project img
{
    margin-top: 100px;
    width: 150%;
    height: 80%;
    transition: all .5s ease-in-out;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

.project img:hover
{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  filter: grayscale(100%) ;
  -webkit-filter: grayscale(100%) ;
}

.project h3
{
    font-family: 'Lora', serif;
    font-size: 25px; 
    font-weight: bolder;
    padding: 5px 10px; 
    margin: 10px 10px 10px 10px; 
    text-align: center;
}

/* Footer */

footer .container p
{
    height: 35px; 
    font-family: 'Lora', serif;
    font-size: 18px;
    font-weight: bolder; 
    background-color: gold; 
    color: black;
    text-align: center;
    padding: 25px 25px 10px; 
}

.scroll-up button /* Scroll to top of the page*/
{
    font-family: 'Lora', serif;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-color: #cd42d9;
    width: 75px;
    height: 75px;
    text-decoration: none;
    border: 1.5px solid white;
    border-radius: 50px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    float: right;
    text-align: center;
    margin-top: -75px;
    margin-right: 20px;
}

.scroll-up a:visited 
{
    text-decoration: none; 
    decoration: none; 
    color: inherit;
}

