* 
{
    margin: 0;
    padding: 0;
}

header
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url('../img/image5.jpg');
    height: 100vh;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#navbar 
{
    list-style: none; 
}

#navbar ul
{
    text-align: right;
    margin-top: -115px; 
    margin-right: 50px;  
}

#navbar li
{
    display: inline; 
    margin-right: 10px;
}

#navbar li a
{
  color: white;
  text-decoration: none;
  padding: 5px 15px;
  font-family: 'Lora', serif;
  font-size: 25px;
  font-weight: bold;
}

#navbar li a:hover
{
    color:gold;
    text-decoration-line: underline;
    -moz-text-decoration-line:;
}

#navbar li.active a
{
    color: gold;
    text-decoration-line: overline; 
    -moz-text-decoration-line: overline;
}

.logo img
{
    padding: 25px;
    width: 125px;
    height: auto;
}

#welcome-section h1
{
    text-align: center;
    font-family: 'Ruthie', cursive;
    font-size: 150px;
    font-weight: lighter;
    color: white;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#welcome-section h2
{
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 60%;
    left: 39%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#welcome-section h3
{
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 65%;
    left: 50.9%;
    transform: translate(-50%, -50%);
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;
}

#welcome-section button
{
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 25px;
    font-weight: bold;
    color: white; 
    background-color: transparent;
    position: absolute;
    top: 73%;
    left: 25.9%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border: 1.5px solid white;
    border-radius: 40px;
    padding: 10px 30px;
    text-decoration: none;
    margin-left: 175px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

#welcome-section button:hover
{
  background-color: gold;
  color: black;
  border: 1.5px solid black;
  transition: all 0.5s ease-in;
}


#about-me .container
{
  color: black;
  height: 100vh;
  margin-top: 60px;
}

#about-me img
{
 margin-top: 180px;
 margin-left: 120px;
 margin-bottom: 100px;
 margin-right: 90px;
 float: left;
 width: 400px;
 height: 350px;
 border: 10px solid gold;
 border-radius: 50%;
 -webkit-border-radius:;
 -moz-border-radius:;
 -ms-border-radius:;
 -o-border-radius:;
}

#about-me h1
{
  margin-top: 50px;
  color: black;
  font-family: 'Lora', serif; 
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
}

#about-me .column2
{
    margin: 10px 10px; 
    padding: 20px 80px; 
}

#about-me .column2 p
{
  font-size: 22px;
  justify-content: right;
  text-align: center;  
  margin-left: 100px;
  padding: 30px;  
}

#about-me .button
{
    margin-top: 15px;
    margin-left: 802px;
    width: 200px;
    border: 1.5px solid gold;
    border-radius: 40px;
    padding: 10px 30px;
    color: white;
    background-color: gold;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

#about-me .button a
{
    text-decoration: none; 
    color: inherit; 
}

#about-me .button:hover
{
    border: 1.5px solid black;
    color: black;
    background-color: white; 
    border-color: black;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

